@import '@material-design-icons/font';


@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONT FACE */
@font-face {
    font-family: 'Androgyne';
    src: url('/resources/fonts/Androgyne_TB.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lobster';
    src: url('/resources/fonts/Lobster.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ComicSans';
    src: url('/resources/fonts/comic-sans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/resources/fonts/poppins-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* END FONT FACE */


/* TAOS */
/* .taos-fade-up{
    @apply duration-[600ms] delay-[300ms] taos:translate-y-[200px] taos:opacity-0;
}

.taos-slide-up {
    @apply delay-[300ms] duration-[600ms] taos:translate-y-[100%] taos:invisible;
} */
/* END TAOS */
